/* ### GLOBAL ### */

:root {
  --back-color: #0c0417;
  --back-sub-color: #191970;
  --transparent-color: #faf8fc13;
  --font-color: white;
  --sub-font-color: #7f8791;
  --main-color: #190e38;
  --first-color: #382761;
  --fourth-color: #6c46ce;

  --main-font: "Monteserrat";
  --second-font: "Roboto";
  --third-font: sans-serif;
  --fourth-font: Arial;

  --spacing-zero: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font), var(--second-font), var(--third-font),
    var(--fourth-font);
  font-size: 16px;
}

body {
  position: absolute;
  z-index: -10;
}

h1,
h2,
h3,
h4,
p,
label,
li {
  cursor: default;
  user-select: none;
  color: var(--font-color);
}

main h2 {
  font-size: 3rem;
  padding: 0 0 4rem 0;
}

#background {
  background: linear-gradient(
    60deg,
    var(--back-color),
    var(--back-sub-color) 10%,
    var(--back-color)
  );
  overflow: hidden;
  position: relative;
  z-index: -3;
}

.star {
  width: 1px;
  height: 1px;
  background: white;
  position: absolute;
  border-radius: 50%;
  position: fixed;
  z-index: -2;
  animation: twinkling 2s infinite ease-in-out;
}

@keyframes twinkling {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* ### HEADER ### */

header > p {
  padding: 4rem 18rem 2rem 0;
  color: var(--font-color);
  font-size: 1.5rem;
  text-align: center;
}

header > h1 {
  padding: 0 0 4rem 0;
  font-size: 4rem;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.image-container > .styled-image {
  width: 200px;
  height: auto;
  filter: grayscale(30%) brightness(1) contrast(1.6);
  mask-image: radial-gradient(ellipse, #6d46ced3, transparent 75%);
  opacity: 0.6;
}

#about-me-box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#typing-animation {
  width: max-content;
  min-height: 330px;
}

#typing-animation > p {
  color: var(--font-color);
  font-size: 1.5rem;
  width: 935px;
  min-height: 2.5%;
  white-space: normal;
  line-height: 1.2;
}

@media (max-width: 850px) {
  #typing-animation {
    min-height: 576px;
  }

  #typing-animation > p,
  .cursor {
    font-size: 2rem;
  }
}

.cursor {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: bolder;
  position: relative;
  animation: blink-cursor 0.75s step-end infinite;
}

.cursor::after {
  content: "|";
  color: var(--font-color);
  position: absolute;
  left: 0;
  filter: blur(0.5rem);
  animation: blink-cursor 0.75s step-end infinite;
}

@keyframes blink-cursor {
  50% {
    color: transparent;
  }
}

.anim-font-color {
  background: linear-gradient(
    45deg,
    #7f8791,
    #6c46ce,
    #382761,
    #7f8791,
    #6c46ce,
    #382761
  );
  background-size: 250% 250%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: color-animation 4s linear infinite;
}

@keyframes color-animation {
  0% {
    background-position: 110%;
  }
  50% {
    background-position: 60%;
  }
  100% {
    background-position: 0%;
  }
}

/* ### INFO BOXES ### */

.boxes-style {
  padding: 2%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--font-color);
  box-shadow: 5px 5px 5px 0px #6c46ce, inset 4px 4px 15px 0px #6c46ce,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.boxes-container {
  padding: 4rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
}

.info-box-left,
.info-box-right {
  max-width: 40%;
  max-height: 10%;
  position: relative;
  animation: puls-shadow 3s linear infinite;
}

.info-box-left {
  min-height: 150px;
  background-color: var(--main-color);
  color: var(--sub-font-color);
  display: flex;
  justify-content: center;
  z-index: 10;
}

.info-box-left > h3 {
  max-width: max-content;
  font-size: 2rem;
}

.info-box-right {
  background-color: var(--first-color);
  color: var(--font-color);
  font-size: 2rem;
  align-self: flex-end;
  animation-delay: 2s;
  z-index: 9;
}

@keyframes puls-shadow {
  0% {
    box-shadow: 5px 5px 5px 0px #6c46ce, inset 4px 4px 15px 0px #6c46ce,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 9px 7px 5px 0px #6c46ce, inset 4px 4px 15px 0px #6c46ce,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 5px 5px 5px 0px #6c46ce, inset 4px 4px 15px 0px #6c46ce,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}

.info-box-right::before {
  content: "";
  width: 58%;
  height: 3px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    #6c46ce,
    #190e38,
    #6c46ce,
    #190e38,
    #6c46ce,
    #190e38
  );
  background-size: 300% 300%;
  position: absolute;
  top: 20px;
  left: -55.3%;
  transform: rotate(25deg);
  animation: pulls 3s linear infinite;
}

@keyframes pulls {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 40% 40%;
  }
}

@media (max-width: 850px) {
  .info-box-right {
    max-width: 45%;
  }

  .info-box-right > p {
    font-size: 2rem;
  }
}

/* ### PROJECTS ### */

#projects {
  padding: 4rem 1rem 4rem 1rem;
}

#project-container {
  min-height: 1300px;
  padding-bottom: 8rem;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.box-style-2 {
  width: 20%;
  min-width: 430px;
  height: max-content;
  min-height: 440px;
  margin: 2rem;
  padding: 10px;
  background: var(--first-color);
  color: var(--font-color);
  border-radius: 10px;
  position: relative;
  display: block;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.box-style-2::before,
.box-style-2::after {
  content: "";
  background-image: conic-gradient(from var(--angle), transparent, #6c46ce);
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  --circular-animation: circular-color 3s linear infinite;
}

.box-style-2::after {
  filter: blur(1.5rem);
  opacity: 0.6;
}

#webdesign-made-simple::before,
#webdesign-made-simple::after {
  animation: var(--circular-animation);
}

#accounting-application::before,
#accounting-application::after {
  animation: var(--circular-animation);
  animation-delay: 2s;
}

#anas-website::before,
#anas-website::after {
  animation: var(--circular-animation);
  animation-delay: 1s;
}

@keyframes circular-color {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.project-cards a,
.project-cards img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  margin-bottom: 1rem;
}

.project-cards > h4 {
  margin-bottom: 0.2rem;
}

.project-cards > p {
  margin-bottom: 2rem;
}

.project-cards li {
  margin: 1rem 0 0 1rem;
}

.project-cards > .extra {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

#toggle-webdesign:checked + .extra,
#toggle-ana-webside:checked + .extra,
#toggle-liqui:checked + .extra {
  max-height: 700px;
}

.project-cards > label {
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 400px;
}

.project-cards > label:hover {
  color: #191970;
  transition: color 0.5s ease;
}

/* ### FORM ### */

.form-box {
  min-width: 430px;
  width: 30%;
  height: 700px;
  padding: 3rem;
  margin-bottom: 6rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form div > input,
textarea {
  width: 100%;
  color: var(--font-color);
  background-color: #6d46ce78;
  border-radius: 3px;
}

#form div > input {
  height: 30px;
  padding-left: 0.5rem;
}

#form #phone-number-container,
#email-container {
  display: none;
}

.contact-selection > p {
  margin: 1rem 0 1.5rem 0;
}

#form .contact-selection {
  display: flex;
  flex-direction: column;
}

.contact-selection > label {
  width: 250px;
  margin: 0 0 0.8rem 0.5rem;
}

input[type="radio"] {
  appearance: none;
  width: 18px;
  height: 18px;
  box-shadow: 1.5px 1.5px 0px 0px rgba(0, 0, 0, 0.821) inset,
    1.5px 1.5px 0px 0px rgb(128, 128, 128, 0.821);
  border-radius: 3px;
  background-color: #6d46ce78;
  float: right;
  position: relative;
}

input[type="radio"]:checked::after {
  content: "X";
  color: var(--font-color);
  position: absolute;
  top: 1.5px;
  left: 4px;
}

#form textarea {
  height: 200px;
  margin-top: 1rem;
  padding: 0.5rem;
  resize: none;
}

#form input::placeholder,
textarea::placeholder {
  color: var(--font-color);
}

.btn-typ-1 {
  width: 150px;
  height: 40px;
  color: var(--font-color);
  background-color: #6d46ce78;
  border-radius: 3px;
  cursor: pointer;
  align-self: center;
  transition: all 0.3s ease-in;
}

.btn-typ-1:hover {
  background-color: #6d46ce;
}

.form-box::before,
.form-box::after {
  animation: var(--circular-animation);
  animation-delay: 1s;
}

/* ### FORM INFORMATION WINDOW ### */

.sended-user-input-container {
  width: 100%;
  height: 100%;
  background-color: #000000cc;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.sended-user-input {
  min-width: 500px;
  width: max-content;
  height: max-content;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--first-color);
  border-radius: 3px;
}

.sended-user-input > .sended-user-text {
  width: 400px;
}

.sended-user-text > h2 {
  padding: 0;
  margin: 2rem 0 2rem 0;
  text-align: center;
}

.sended-user-text > p {
  padding-bottom: 4rem;
  font-weight: bold;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.user-content {
  float: right;
}

.sended-user-btns > button {
  margin-bottom: 2rem;
  display: inline-block;
}

.hide-no-btn {
  display: inline-block;
  margin-left: 3.5rem;
}

/* ### FOOTER ### */

.navbar-footer {
  width: 100%;
  height: 50px;
  background-color: var(--transparent-color);
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-around;
}

.nav-btn-container {
  width: max-content;
  height: 30px;
  background-color: var(--first-color);
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid var(--first-color);
  float: right;
  transition: 0.5s all ease-in-out;
}

.nav-btn-container > a {
  color: var(--font-color);
  font-size: 1.5rem;
  padding: 0 1rem 0 1rem;
  text-decoration: none;
  transition: inherit;
}

.nav-btn-container:hover {
  background-color: var(--fourth-color);
}

.nav-btn-container > a:hover {
  color: var(--back-sub-color);
}

/* ### IMPRINT ### */

.imprint-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.imprint-container > .imprint-content {
  width: 80%;
  padding: 1rem 0 2rem 0;
}

.imprint-content > h1 {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 0;
}

.imprint-content > h2,
h3,
h4 {
  margin: 1.5rem 0 0.5rem 0;
}

.imprint-content > ul {
  padding-left: 3rem;
  margin: 0.2rem 0 0.4rem 0;
}

.imprint-content > ul > li {
  padding-bottom: 0.1rem;
}
