/* ### GLOBAL ### */

:root {
  --back-color: #0c0417;
  --back-sub-color: #191970;
  --head-font-color: #e5e4e6;
  --font-color: #c7c0d7;
  --sub-font-color: #7f8791;
  --main-color: #190e38;
  --first-color: #382761;
  --fourth-color: #6c46ce;

  --main-font: "Monteserrat";
  --second-font: "Roboto";
  --third-font: sans-serif;
  --fourth-font: Arial;

  --spacing-zero: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 
  var(--main-font), 
  var(--second-font), 
  var(--third-font),
    var(--fourth-font);
  font-size: 16px;
}

h1,
h2,
h3,
p {
  cursor: default;
  user-select: none;
}

#background {
  background: linear-gradient(
    60deg,
    var(--back-color),
    var(--back-sub-color) 10%,
    var(--back-color)
  );
  overflow: hidden;
  position: relative;
}

.star {
    width: 1px;
    height: 1px;
    background: white;
    position: absolute;
    border-radius: 50%;
    position: fixed;
    z-index: 0;
    animation: twinkling 2s infinite ease-in-out;
  }

@keyframes twinkling {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

/* ### HEADER ### */

header > p {
  padding: 4rem 18rem 2rem 0;
  color: var(--font-color);
  font-size: 1.5rem;
  text-align: center;
}

header > h1 {
  padding: 0 0 4rem 0;
  font-size: 4rem;
  text-align: center;
}

.image-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.image-container > .styled-image {
  filter: grayscale(100%) brightness(1.0) sepia(100%) hue-rotate(230deg);
  opacity: 0.4;
  width: 200px;
  height: auto;
  margin-left: 15%;
}

#about-me-box {
  background-color: var(--first-color);
  color: var(--font-color);
  z-index: 1;
}

.blinking {
  animation: blinking 4s infinite;
}

.anim-font-color{
    background: linear-gradient(
        45deg,
        #7f8791, 
        #6c46ce, 
        #382761, 
        #7f8791, 
        #6c46ce, 
        #382761
        );
    background-size: 250% 250%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: color-animation 4s linear infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes color-animation {
    0%{
        background-position: 110%;
    }
    50%{
        background-position: 60%;
        
    }
    100%{
        background-position: 0%;
    }
}

/* ### INFO BOXES ### */

.boxes-style {
  padding: 2%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  box-shadow: 
  5px 5px 5px 0px #6c46ce, 
  inset 4px 4px 15px 0px #6c46ce,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.boxes-container {
  padding: 4rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
}

.boxes-container > h2{
  font-size: 3rem;
  padding: 0 0 4rem 0;
}

.info-box-left,
.info-box-right {
  max-width: 40%;
  max-height: 10%;
  position: relative;
  animation: puls-shadow 3s linear infinite;
  z-index: 100;
}

.info-box-left {
  background-color: var(--main-color);
  color: var(--sub-font-color);
  display: flex;
  justify-content: center;
}

.info-box-left > h3 {
  max-width: max-content;
  font-size: 2rem;
}

.info-box-right {
  background-color: var(--first-color);
  color: var(--font-color);
  align-self: flex-end;
  animation-delay: 2s;
}

@keyframes puls-shadow {
  0% {
    box-shadow: 5px 5px 5px 0px #6c46ce, inset 4px 4px 15px 0px #6c46ce,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 9px 7px 5px 0px #6c46ce, inset 4px 4px 15px 0px #6c46ce,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 5px 5px 5px 0px #6c46ce, inset 4px 4px 15px 0px #6c46ce,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}

.info-box-left::before {
  content: "";
  width: 55%;
  height: 3px;
  background: linear-gradient(
    90deg,
    #6c46ce,
    #190e38,
    #6c46ce,
    #190e38,
    #6c46ce,
    #190e38
  );
  background-size: 300% 300%;
  position: absolute;
  bottom: -10px;
  right: -54%;
  transform: rotate(19deg);
  animation: pulls 3s linear infinite;
  
}

@keyframes pulls {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 40% 40%;
  }
}

/* TEST SVG */
.animate-circle {
  margin: 5rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    r: 40;
    fill: blue;
  }
  50% {
    r: 60;
    fill: red;
  }
  100% {
    r: 40;
    fill: blue;
  }
}
